

body {
   margin: 0;
   padding: 0;
   background: #2a2b29;  
   overflow: hidden; 
}

.login {
   background: rgb(2, 2, 97);
   width: 480px;
   padding: 20px;
   margin: 150px;
   border-radius: 50px;
   color: white;
   
   
   
}

.login input[type="text"],
.login input[type="password"]{
   border-radius: 24px;
   

}

.login input[type="button"]{
   padding: 10px ;
   width: 250px;
   margin-top: 20px;
  
   background: #006188;
   cursor: pointer;
   color: white;
   border-radius: 29px
}

.login input[type="button"]:hover {
   background: none;
}

.inicio input[type="button"]{
   padding: 10px;
   margin: 10px;
   background: #006188;
   cursor: pointer;
   color: white;
   border-radius: 15px
}

.inicio input[type="button"]:hover {
   background: #827ef3;
}

.inicio {
   background: rgb(67, 2, 97);
   
   width: 480px;
   padding: 20px;
   margin: 150px;
   border-radius: 50px;
   color: white;
}

.loginClien {
   background: rgb(250, 94, 172);
   
   width: 480px;
   padding: 20px;
   margin: 150px;
   border-radius: 180px;
   color: white;
}

.loginClien input[type="button"]{
   padding: 10px;
   margin: 10px;
   background: #006188;
   cursor: pointer;
   color: white;
   border-radius: 15px;
   width: 200px;
}

.loginClien input[type="button"]:hover {
   background: #827ef3;
}






